:root{
    /* ===== HEADER HIEGHT ===== */
    --header-height : 3rem;
    /* ===== NAV WIDTH ===== */
    --nav-wdith :250px;
    /* ===== FONT SIZE ===== */
    --largest-font-size: 1.75rem;
    --large-font-size: 1.5rem;
    --title-font-size: 1.35rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --icon-font-size: 1.12rem;

    /* ===== FONT FAMILY ===== */
    --body-family: 'Poppins', sans-serif;
    --mont-family: 'Montserrat', sans-serif;
    --link-family: 'Kanit', sans-serif;
    --kanit-family: 'Kanit', sans-serif;
    --logo-family: 'lobster', sans-serif;
    --lobster-family: 'lobster', sans-serif;

    /* ===== FONT WEIGHT ===== */
    --font-normal: 400;
    --font-medium: 600;
    --font-bold: 800;

    /* ===== COLOR SCHEME ===== */
    --body-clr : #fdfcfc;
    --primary-clr: #fff;
    --secondry-clr: hsl(4, 70%, 79%);
    --secondry-clr-transparent: hsla(4, 70%, 79%, 0.5);
    --text-clr: #7f7f7f;

    /* ===== MARGINS & PADDINGS ===== */
    --body-padding: .5rem;
    --pd-input: .5rem;
    --header-padding: .5rem;
    --pd-0-5: 0.5rem;
    --pd-5: 0.5rem;
    --pd-1: 1rem;
    --pd-1-5: 1.5rem;
    --pd-2: 2rem;
    --pd-2-5: 2.5rem;
    --pd-3: 3rem;
    --pd-3-5: 3.5rem;
    /* === Margins === */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /* ===== Z-INDEX ===== */
    --z-10: 10;
    --z-100: 100;
    --z-200: 200;
    --z-300: 300;
    --z-400: 400;
    --z-500: 500;
    --z-fixed: 1000;
    /* ===== transitions ===== */
    --transition-1: .4s all;
    --transition-2: .25s all;
}
@media screen and (min-width: 768px) {
    :root {
        /* ===== NAV WIDTH ===== */
        --nav-wdith : 300px;
        /* ===== FONT SIZE ===== */
        --largest-font-size: 2.75rem;
        --large-font-size: 2rem;
        --title-font-size: 1.75rem;
        --normal-font-size: 1.1rem;
        --small-font-size: .945rem;
        --smaller-font-size: .839rem;
        --icon-font-size: 1.3rem;
    }
}
@media screen and (min-width: 1024px) {
    :root {
        /* ===== HEADER HIEGHT ===== */
        --header-height : 4rem;
    }
}

